:root{
    --width:500px;
    --height:636px;
    --imgwidth:560px;
    /* ratio 3:2 for landscape  */
    /* --imgwidth: calc(var(--width) - 10px);
   --imgheight: calc(var(--height) - 10px);  */
   /* --imgwidth: 450px;
   --imgheight: 300px;  */
}
body {
    margin: 0;
    
}
* {
    box-sizing: border-box;
  }

/* DEFAULT MOBILE SIZE VALUES */
.slideOuterContainer {
    max-width: var(--width);
    max-height: var(--height);
    background-color: white;
    box-shadow: 2px 1px 10px grey;
    display: grid;
}
.gallerycontainer {
    display: grid;
  /*   max-height: 500px;
    width: 560px; */
    /* overflow: hidden; */
    
}
.imagegallerywrapper {
    width: 100%;
    background-color: #f9f9f2;
    display: grid;
    justify-content: center;
  }
  
  .imagegalleryinnerwrapper {
   /*  grid-template-columns: 700px; */
    display: grid;
    justify-content: center;
    justify-items: center;
  }
  
  .imagegallery {
    align-self: center;
    justify-self: center;
  }
  .centerGRIDself {
    align-self: center;
    justify-self: center;
  }
  .reviewsdiv {
    margin-top: 20px;
    margin-bottom: 30px;
    /*  justify-self: center; */
  }
.mainphotodiv {
    position: relative;
    display: grid;
    justify-content: center;
}
.mainphoto {
   transition: display 1s;
   border-radius: 5px;
   position: absolute;
   top: 0;
   left: 0;
}
.mainphotodiv2 {
    position: relative;
}

.visible {
    visibility: visible;
}
.hidden {
    visibility: hidden;
    /* display: none; */
}
.thumbcontainer {
    grid-row: 2/3;
    grid-column: 1 / -1;
    /* width: auto; */
    /* width: 500px; */
    display: flex;
    height: 105px;
  /*   flex-wrap: wrap; */
    z-index:20;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 5px;
    max-width: var(--width);
    position: relative;

}
.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

/* .imgclass {
    width: 100px;
} */
.thumb { 
    border-radius: 5px;
    margin-top: 5px;
    background-color: sandybrown;
   max-width: 155px;
   height: 83px;
  
}
.thumb-portrait {
    width: 75px;
    height: 83px;
   
}
.thumb-landscape {
    width: 155px;
    height: 83px;
    
}

.thumbfocus {
   border: 2px solid aquamarine;
}

.landscape-desktop {
    width: 100%;
}
.portrait-desktop {
  
    width: auto;
    margin: 0 auto;
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 4s;
    }
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }

    @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }

#buttonsdiv1 {
    position: absolute;
    bottom: 0%;
    left: 50%;
    margin-left: -69px;
    display: flex;
    width: 130px;
}

#pausediv {
    color: #0075FF;
    font-size: 30px;
    width: 50px;
}
#playdiv{
    color: #0075FF;
    font-size: 30px;
    position: absolute;
    top: 0%;
    left: 0%;
    display: block;
}
.rangeSliderdiv{
   padding-top: 2px;
   padding-left: 5px;
 
}
input {
    padding: 0px;
    border: 0;
}

#buttonleftdiv {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 40px;
    height: 100%;
    width: 50px;
    /* filter: brightness(0.5); */
    background-color: gray;
    opacity: 0;
    z-index: 3;
}
#buttonrightdiv {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
    height: 100%;
    width: 50px;
    /* filter: brightness(0.5); */
    background-color: gray;
    opacity: 0;
    z-index: 3;
}

#buttonNext {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 40px;
    margin-right: 10px;
  
}

#buttonPrevious {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 40px;
    margin-left: 10px;
}

