:root{
    --width: 550px;
    --height: 350px;

    /* --imgwidth: calc(var(--width) - 10px);
   --imgheight: calc(var(--height) - 10px);  */
   /* --imgwidth: 450px;
   --imgheight: 300px;  */
}
.mainphotodiv {
    height: 400px;
}
.gallerycontainer {
    max-width: var(--width);
    max-height: var(--height);
    display: grid;
}

.mainphoto {
    width: var(--imgwidth);
    height: var(--height);
   /*  margin: auto; */
   justify-self: center;
}
.thumbcontainer {
    width: auto;
    display: flex;
    height: 100px;
  /*   flex-wrap: wrap; */
    background-color: bisque;
    z-index:20;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 5px;

}
/* .imgclass {
    width: 100px;
} */
.thumb { 
   
}
.thumb-portrait {
    width: 75px;
    height: 100px;
}
.thumb-landscape {
    width: 200px;
    height: 100px;
}
