/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
ABOUT US
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.ourstorywrapper {
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr;
}
.ourstoryinnerwrapper {
  display: flex;
  justify-content: center;
}

.ourstoryh1 {
  text-align: Center;
}

.ourstoryp {
  max-width: 80%;
  align-self: center;
  justify-self: center;
}
.meettheteamwrapper {
}
.meettheteamh1 {
  text-align: Center;
  color: purple;
  width: 100%;
}
.meettheteamh1 > h1 {
  color: inherit;
}
.meetteamprofiles {
  display: grid;
  grid-template-columns: 1fr;
}
.contactuswrapper {
  background-color: #f9f9f2;
}
.contactusinnerwrapper {
}

.aboutusformgrid {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
}
.textareadiv {
}
textarea {
  width: 100%;
  max-width: 300px;
}
input,
label {
  display: block;
  width: 100%;
  max-width: 300px;
}
@media (min-width: 336px) {
  .meetteamprofiles {
    grid-template-columns: 1fr 1fr;
  }
  .meettheteamprofile1 {
    justify-self: center;
    align-self: center;
  }
  .meettheteamprofile2 {
  }
}
