.casestudieswrapper {
  max-width: 1000px;
  display: grid;
  justify-content: center;
  align-content: center;
}

.casestudiesinnerwrapper {
  /* mobile first */
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 336px) {
  .casestudiesinnerwrapper {
    grid-template-columns: 1fr 1fr;
  }
  .casestudy1title {
    grid-column: 2 / 3;
  }
  .casestudy1img {
    grid-column: 1 / 2;
  }
}
