.featuresgrid {
  /* display: grid;
  grid-template-columns: 1fr; */
  display: grid;
  justify-content: center;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
}
@media (min-width: 325px) {
}

.featuresh1 {
  /*  max-width: 600px; */
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: grid;
  justify-content: center;
  text-align: center;
}

.featurestext {
  max-width: 500px;
  /* grid-column: 2 / 4; */
}
