/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        FONT FAMILIESS
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@font-face {
  font-family: 'Bungee';
  src: url('../fonts/Bungee-Regular.ttf');
  src: local('☺'), url('../fonts/Bungee-Regular.ttf') format('truetype');
  font-display: block;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
  src: local('☺'), url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-display: block;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold.ttf');
  src: local('☺'), url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-display: block;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Regular.ttf');
  src: local('☺'), url('../fonts/Ubuntu-Regular.ttf') format('truetype');
  font-display: block;
}
@font-face {
  font-family: 'UbuntuBold';
  src: url('../fonts/Ubuntu-Bold.ttf');
  src: local('☺'), url('../fonts/Ubuntu-Bold.ttf') format('truetype');
  font-display: block;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf');
  src: local('☺'), url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-display: block;
}
@font-face {
  font-family: 'PoppinsBold';
  src: url('../fonts/Poppins-Bold.ttf');
  src: local('☺'), url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-display: block;
}
@font-face {
  font-family: 'PoppinsLight';
  src: url('../fonts/Poppins-Light.ttf');
  src: local('☺'), url('../fonts/Poppins-Light.ttf') format('truetype');
  font-display: block;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fa-solid-900.ttf');
  src: local('☺'), url('../fonts/fa-solid-900.ttf') format('truetype');
  font-display: block;
}
.bungee {
  font-family: Bungee;
}
.ubuntu {
  font-family: Ubuntu;
}
.ubuntuBold {
  font-family: UbuntuBold;
}
.poppins {
  font-family: Poppins;
}
