.pricingcard {
  border: 1px solid black;
  border-radius: 5px;
  min-height: 300px;
  min-width: 300px;
}
.cardtitle {
  text-align: center;
  color: var(--myblue);
}
.pricingcard1 {
}
.pricingcard2 {
}
