.pricingcard {
  border: 1px solid black;
  border-radius: 5px;
  min-height: 300px;
  min-width: 300px;
  /*  background-color: #fbfbfa; */
}
.cardtitle {
  text-align: center;
  color: var(--myblue);
  padding: 20px 0 0 0;
  font-size: 1rem;
  font-family: Roboto-Bold;
}

.price {
  text-align: center;
  font-size: 2.5rem;
  font-family: PoppinsLight;
}
.miniprice {
  font-size: 1rem;
}
.pricelistdiv {
  padding: 10px;
}
.pricingcard1 {
}
.pricingcard2 {
}

.pricelist {
  list-style-type: none;
}
.pricelist li {
  padding-left: 10px;
}
li:before {
}

.elementx::before {
  content: '\f00d'; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}
.elementY::before {
  color: green
  content: '\f00c'; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}
