.btn {
  cursor: pointer;
  transition-property: background-color, color, border;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
}

.btnoutline {
  background-color: transparent;
  border: 1px solid var(--myblue);
  border-radius: 5px;
  color: var(--myblue);
  padding: 10px;
  font-size: 0.8rem;
  /*  font-weight: bold */
  font-family: PoppinsBold;
}
.allfeaturesbtn {
  padding: 15px 20px 15px 20px;
  border-radius: 10px;
  border: 1px solid var(--myblue);
  /*   background-color: var(--myblue); */
  background-color: WHITE;
  /* color: white; */
  color: var(--myblue);
  font-weight: bold;
  font-size: 1.2rem;
}
.allfeaturesbtn:hover {
  background-color: var(--myblue);
  color: white;
}
.submit {
  /*  margin-top: 20px; */
  padding: 8px 6px 8px 6px;
  border-radius: 6px;
  width: 100px;
  background-color: var(--myblue);
  border: 1px solid var(--myblue);
  color: #f9f9f2;
  font-size: 1.2rem;
  font-family: PoppinsBold;
  /*  font-weight: bold; */
}
.submit:active {
  transform: translateY(1px);
  color: #821a4e;
}

.submit:hover {
  background-color: var(--myblue);
  color: white;
}

.sectionwrapper {
  padding: 40px 0 40px 0;
}
/* section {
  padding: 40px 10px 40px 10px !important;
  /*  margin: 20px 10px 20px 10px; 
} */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
UTILITY CLASSES 
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.centertext {
  text-align: center;
}
.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*   width: 50%; */
}
.centerhorizvert {
  align-self: center;
  justify-self: center;
}
/* visible/invis from screen readers & visually */
.invisible {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
.whitetext {
  color: white;
}
.smallfont {
  font-size: 0.6rem;
}
.mediumfont {
  font-size: 0.8rem;
}
.ulnostyle {
  list-style: none;
  line-height: 1.5rem;
  padding: 0;
  margin: 0;
}
.anostyle > li a {
  text-decoration: none;
  color: white;
}
.paddingtxt {
  padding: 20px 40px 20px 40px;
}
